.headDiv {
  background-color: blue;
}

.testDiv {
  background-color: green;
}

.bookDiv {
  background-color: yellow;
}

.movieDiv {
  background-color: red;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navList li {
  display: inline;
}